body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('../imagenes/fondo-educlick.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    overflow-x: hidden;
}

/* MENU LATERAL */
.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 250px;
    height: 100vh;
    background: rgba(255,255,255,0.25);
    backdrop-filter: blur(8px);
    padding-top: 20px;
    z-index: 100;
}

    .sidebar h2 {
        color: #1B4965;
        text-align: center;
        margin-bottom: 40px;
        font-size: 28px;
        font-weight: 800;
    }

    .sidebar a {
        display: block;
        color: #2E5EAA;
        text-decoration: none;
        padding: 20px;
        font-size: 22px; /* más grande */
        font-weight: bold; /* más gruesa */
        transition: 0.3s;
    }

        .sidebar a:hover {
            background: rgba(78, 120, 214, 0.8);
            color: white;
        }

/* CONTENIDO */
.contenido {
    margin-left: 250px;
    padding: 30px;
    text-align: center;
}

    .contenido h1 {
        font-family: 'Pacifico', cursive;
        font-size: 40px;
        color: #333;
        margin-bottom: 40px;
    }

/* TARJETAS */
.cards {
    margin-left: 250px;
    display: grid;
    grid-template-columns: repeat(2, 320px);
    gap: 30px;
    justify-content: center;
    padding: 20px;
}

.card {
    width: 320px;
    height: 180px;
    background: rgba(255,255,255,0.9);
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

    .card:hover {
        transform: scale(1.05);
    }

/* RESPONSIVE */
@media (max-width: 768px) {

    .sidebar {
        width: 200px;
    }

    .contenido,
    .cards {
        margin-left: 200px;
    }

    .card {
        width: 280px;
    }
}
