* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: #f4f6f8;
    min-height: 100vh;
    padding: 20px;
}

/* CONTENEDOR GENERAL */

.contenedor {
    width: 50%;
    margin: auto;
}


/* NAVBAR */

.navbar {
    background: white;
    padding: 20px 40px;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
    margin-bottom: 25px;
}

.logo h2 {
    font-size: 42px;
    font-weight: 50;
}

.logo p {
    font-size: 14px;
    margin-top: 5px;
}

.verde {
    color: #17b13a;
}

.azul {
    color: #1f74ff;
}

nav {
    display: flex;
    gap: 40px;
}

    nav a {
        text-decoration: none;
        color: #222;
        font-weight: 100;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        transition: .3s;
    }

        nav a i {
            font-size: 23px;
        }

        nav a:hover {
            color: #1f74ff;
        }

.activo {
    color: #17b13a;
}


/* HERO */

.hero {
    background: linear-gradient(to right,#f7fbff,#eaf7ff);
    border-radius: 30px;
    padding: 40px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.hero-texto {
    width: 50%;
}

.hero h1 {
    font-size: 70px;
    line-height: 1.1;
    margin-bottom: 20px;
    font-weight: 800;
    color: #0b2344;
}

.hero p {
    font-size: 28px;
    line-height: 1.5;
    color: #333;
}

.hero-imagen img {
    width: 80px;
}


/* GRID BENEFICIOS */

.beneficios-grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
    margin-bottom: 30px;
}


/* TARJETAS */

.card {
    background: white;
    border-radius: 20px;
    padding: 25px;
    display: flex;
    align-items: flex-start;
    gap: 20px;
    box-shadow: 0 5px 12px rgba(0,0,0,0.08);
    transition: .3s;
}

    .card:hover {
        transform: translateY(-5px);
    }

    .card img {
        width: 100px;
        height: 100px;
        object-fit: contain;
    }

    .card h3 {
        font-size: 32px;
        margin-bottom: 10px;
        font-weight: 100;
    }

    .card p {
        font-size: 22px;
        line-height: 1.4;
        color: #333;
    }


/* COLORES TITULOS */

.verde-text {
    color: #15a334;
}

.azul-text {
    color: #1e74ff;
}

.amarillo-text {
    color: #ff9f00;
}

.morado-text {
    color: #6942d9;
}

.rosa-text {
    color: #ff4b8c;
}

.cyan-text {
    color: #00a3a3;
}


/* FOOTER */

.footer-box {
    background: white;
    border-radius: 25px;
    padding: 20px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 5px 12px rgba(0,0,0,0.08);
}

.footer-left img {
    width: 100px;
}

.footer-center {
    width: 50%;
    text-align: center;
}

    .footer-center h2 {
        font-size: 32px;
        font-weight: 100;
        color: #222;
    }

.footer-right button {
    background: #18b441;
    border: none;
    padding: 18px 40px;
    border-radius: 30px;
    color: white;
    font-size: 22px;
    cursor: pointer;
    font-weight: 700;
    transition: .3s;
}

    .footer-right button:hover {
        transform: scale(1.05);
        background: #0ea533;
    }


/* RESPONSIVE */

@media(max-width:1200px) {

    .beneficios-grid {
        grid-template-columns: repeat(2,1fr);
    }

    .hero {
        flex-direction: column;
        text-align: center;
        gap: 30px;
    }

    .hero-texto {
        width: 100%;
    }

    .hero h1 {
        font-size: 45px;
    }

    .hero p {
        font-size: 20px;
    }

    .hero-imagen img {
        width: 150px;
    }
}


@media(max-width:768px) {

    .navbar {
        flex-direction: column;
        gap: 20px;
    }

    nav {
        gap: 20px;
    }

    .beneficios-grid {
        grid-template-columns: 1fr;
    }

    .card {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .footer-box {
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }

    .footer-center {
        width: 100%;
    }
}
