* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: #f7fbff;
    padding: 20px;
}

.contenedor {
    width: 100%;
}

/* NAVBAR */

.navbar {
    background: white;
    border-radius: 25px;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0,0,0,.08);
}

.logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

    .logo img {
        width: 65px;
    }

    .logo h2 {
        color: #1677ff;
        font-size: 40px;
    }

    .logo p {
        font-size: 14px;
    }

nav {
    display: flex;
    gap: 40px;
}

    nav a {
        text-decoration: none;
        color: #222;
        font-size: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
    }

    nav i {
        font-size: 28px;
    }

.activo {
    color: #0db14b;
}

/* HERO */

.hero {
    margin-top: 20px;
    background: linear-gradient(to right,#f8fdff,#eef9ff);
    border-radius: 20px;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-texto {
    width: 45%;
}

.hero h1 {
    font-size: 70px;
    color: #051d49;
    line-height: 80px;
}

.hero span {
    color: #16b34a;
}

.hero p {
    margin-top: 20px;
    font-size: 24px;
    line-height: 38px;
}

.hero-img img {
    width: 560px;
}

/* SECCION CONTACTO */

.contacto {
    margin-top: 25px;
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    gap: 25px;
}

/* CARDS IZQUIERDA */

.info-cards {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}

.card {
    background: white;
    border-radius: 20px;
    padding: 25px;
    min-height: 220px;
    box-shadow: 0 2px 8px rgba(0,0,0,.07);
}

    .card img {
        width: 70px;
        margin-bottom: 15px;
    }

    .card h3 {
        font-size: 28px;
        margin-bottom: 10px;
    }

    .card p {
        font-size: 20px;
        line-height: 30px;
    }

/* FORMULARIO */

.formulario {
    background: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 2px 8px rgba(0,0,0,.07);
}

    .formulario h2 {
        font-size: 40px;
        color: #051d49;
        margin-bottom: 25px;
    }

.inputs {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

input,
textarea {
    padding: 18px;
    border: 2px solid #e6e6e6;
    border-radius: 15px;
    font-size: 18px;
    outline: none;
}

textarea {
    resize: none;
    height: 180px;
}

button {
    margin-top: 20px;
    border: none;
    background: #18b04b;
    color: white;
    padding: 18px;
    width: 100%;
    border-radius: 40px;
    font-size: 22px;
    cursor: pointer;
    font-weight: 600;
}

/* COLORES */

.verde {
    color: #18b04b;
}

.azul {
    color: #2577ff;
}

.naranja {
    color: #ff9800;
}

.morado {
    color: #7d4cff;
}

/* FOOTER */

.cta {
    margin-top: 30px;
    background: white;
    border: 2px solid #d9f4dd;
    border-radius: 25px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mascota {
    width: 120px;
}

.mochila {
    width: 90px;
}

.cta .texto {
    width: 55%;
    text-align: center;
    font-size: 28px;
    font-weight: 600;
}

.cta button {
    width: auto;
    padding: 15px 30px;
    background: #1677ff;
}

/* RESPONSIVE */

@media(max-width:1200px) {

    .hero {
        flex-direction: column;
        text-align: center;
    }

    .hero-texto {
        width: 100%;
        margin-bottom: 20px;
    }

    .contacto {
        grid-template-columns: 1fr;
    }

    .info-cards {
        grid-template-columns: 1fr;
    }

    .cta {
        flex-direction: column;
        gap: 20px;
    }
}
