body {
    background: white; /* fondo blanco limpio */
    margin: 0;
    padding: 0;
}
.panel-docente {
    display: flex; 
    min-height: 100vh; 
    margin: 0; 
    padding: 0;
}

.menu-lateral {
    background-color: #023e8a;
    width: 220px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-start; /* asegura que los botones queden pegados a la izquierda */
    
}


.btn-menu {
    background-color: transparent; 
    color: white; 
    border: none;
    padding: 12px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    text-align: left; 
    width: 100%; 
    transition: background-color 0.3s;
}
.contenido{
    flex:1;
    padding:20px;
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap: 20px;
}
.bloque {
    background-color: white; 
    border-radius: 8px; 
    box-shadow: 0 4px 12px rgba(0,0,0,0.1); 
    padding: 20px;
    text-align: center; 
    font-weight: bold; 
    color: #023e8a; 
}

.btn-menu:hover {
    background-color:antiquewhite; /* color cuando pasas el mouse */
    color: black; /* texto cambia a negro */
}
.icono{
    font-size: 40px;
    color:dodgerblue;
    margin-bottom: 10px;
}
.bloque-notas {
    background: linear-gradient(to right, #f9fafb, #e0f7ff); /* fondo suave */
    border-radius: 12px; /* esquinas redondeadas */
    padding: 20px; /* espacio interno */
    box-shadow: 0 4px 12px rgba(0,0,0,0.1); /* sombra suave */
    margin-top: 20px; /* separación del resto */
}

    .bloque-notas h2 {
        color: #0077b6; /* azul celeste oscuro */
        margin-bottom: 10px;
        font-family: 'Nunito', sans-serif;
    }

    .bloque-notas textarea {
        width: 100%;
        height: 120px;
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 10px;
        font-family: 'Nunito', sans-serif;
        resize: none;
    }

    .bloque-notas button {
        margin-top: 10px;
        background-color: #0077b6; /* azul celeste oscuro */
        color: white;
        border: none;
        padding: 10px 15px;
        border-radius: 8px;
        cursor: pointer;
        transition: 0.3s;
    }

        .bloque-notas button:hover {
            background-color: #023e8a; /* azul más fuerte al pasar el mouse */
        }
