@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    background: linear-gradient( 180deg, #23395d, #2f5d62, #4d7c78 );
}

/* SIDEBAR */

.sidebar {
    width: 200px;
    background: linear-gradient(180deg,#23395d,#406e8e);
    color: white;
    padding: 25px 0;
    position: fixed;
    height: 100%;
}

    .sidebar h2 {
        text-align: center;
        margin-bottom: 35px;
        font-size: 19px;
    }

    .sidebar a {
        display: block;
        color: white;
        text-decoration: none;
        padding: 15px 25px;
        font-size: 19px;
        transition: .3s;
    }

        .sidebar a i {
            margin-right: 10px;
        }

        .sidebar a:hover {
            background: rgba(255,255,255,0.15);
            border-left: 5px solid white;
        }

/* CONTENIDO */

.main {
    margin-left: 250px;
    width: calc(100% - 250px);
    padding: 25px;
}

/* ENCABEZADO */

.topbar {
    background: linear-gradient(90deg,#23395d,#406e8e);
    color: white;
    padding: 25px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

    .topbar h1 {
        font-size: 19px;
    }

.perfil-top {
    font-size: 19px;
}

/* TARJETAS */

.dashboard {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    gap: 22px;
}

.card {
    background: white;
    border-radius: 18px;
    padding: 25px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
    transition: .3s;
    border-top: 5px solid #84a59d;
}

    .card:hover {
        transform: translateY(-4px);
        box-shadow: 0 12px 25px rgba(0,0,0,0.12);
    }

    .card h3 {
        color: #23395d;
        margin-bottom: 15px;
        font-size: 19px;
    }

    .card p {
        color: #555;
        margin-bottom: 20px;
        font-size: 19px;
    }

/* BOTONES */

.btn {
    display: inline-block;
    background: #84A59D;
    background-color: #5b8c85;
    color: black;
    text-decoration: none;
    border: none;
    padding: 12px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s;
    font-size: 19px;
}

    .btn:hover {
        background: #406E8E;
        box-shadow: 0 0 20px rgba(132,165,157,0.8);
        transform: translateY(-2px);
    }

/* TEXTAREA */

textarea {
    width: 100%;
    height: 90px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    resize: none;
    margin-bottom: 15px;
    font-size: 19px;
}

    textarea:focus {
        outline: none;
        border-color: #406e8e;
    }

/* SELECT */

select {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 1px;
}

    select:focus {
        outline: none;
        border-color: #406e8e;
    }

/* RESPONSIVE */

@media(max-width:900px) {

    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .main {
        margin-left: 0;
        width: 100%;
    }

    .dashboard {
        grid-template-columns: 1fr;
    }

    .topbar h1 {
        font-size: 28px;
    }
}
