@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../JUEGOS/Fondo.png');
    padding: 12px;
    font-family: 'Segoe UI', sans-serif;
}

/* ========================= */
/* CONTENEDOR */
/* ========================= */

.dashboard-container {
    display: flex;
    gap: 20px;
    position: relative;
    z-index: 2;
    align-items:;
    padding: 20px;
}

/* ========================= */
/* SIDEBAR */ 
/* ========================= */

.sidebar {
    background: white;
    border-radius: 20px;
    padding: 15px;
    box-shadow: 0 2px 10px rgba(0,0,0,.08);
    display: flex;
    flex-direction: column;
    animation: fadeUp 1s ease;
    transition: .4s;
    position: relative;
    height: auto;
}

    .sidebar:hover {
        transform: translateY(-5px);
    }

.stats {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 10px;
}
   /* ========================= */
   /* stats */
   /* ========================= */
    .stats div {
        flex: 1;
        background: #f5f5f5;
        padding: 12px;
        border-radius: 18px;
        text-align: center;
    }

    .stats span {
        display: block;
        font-size: 20px;
        font-weight: 700;
    }

    .stats small {
        color: #666;
    }

/* ========================= */
/* LOGO */
/* ========================= */

.logo-box {
    display: flex;
    align-items: center;
    gap: 15px;
}

    .logo-box img {
        width: 60px;
        animation: floatLogo 4s ease-in-out infinite;
    }

    .logo-box h2 {
        font-size: 30px;
        color: #169a45;
    }

    .logo-box p {
        font-size: 12px;
    }

@keyframes floatLogo {

    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-8px);
    }

    100% {
        transform: translateY(0);
    }
}

/* ========================= */
/* MENU */
/* ========================= */

.menu {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    flex: 1;
}

    .menu a {
        text-decoration: none;
        color: #1d1d1d;
        display: flex;
        align-items: center;
        gap: 15px;
        padding: 15px;
        border-radius: 18px;
        font-size: 18px;
        font-weight: 600;
        transition: .35s;
    }

        .menu a:hover {
            background: #f5f5f5;
            transform: translateX(10px) scale(1.03);
        }

        .menu a.active {
            background: linear-gradient(90deg,#1ab42d,#43d43b);
            color: white;
            animation: pulse 2s infinite;
        }

        .menu a img {
            width: 32px;
            height: 32px;
            object-fit: contain;
        }

@keyframes pulse {

    0% {
        box-shadow: 0 0 0 rgba(67,212,59,.5);
    }

    50% {
        box-shadow: 0 0 25px rgba(67,212,59,.7);
    }

    100% {
        box-shadow: 0 0 0 rgba(67,212,59,.5);
    }
}

/* ========================= */
/* TIGRE */
/* ========================= */

.tigre-box {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 20px;
    width: 100%;
}

.tigre {
    width: 270px;
    height: auto;
    object-fit: contain;
    transition: .4s;
    animation: tigerFloat 4s ease-in-out infinite;
}

    .tigre:hover {
        transform: scale(1.05);
    }

/* ========================= */
/* MAIN */
/* ========================= */

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* ========================= */
/* TOPBAR */
/* ========================= */

.topbar {
    background: rgba(255,255,255,0.88);
    backdrop-filter: blur(10px);
    border-radius: 30px;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 8px 20px rgba(0,0,0,.08);
    animation: fadeUp 1s ease;
    transition: .35s;
}

    .topbar:hover {
        transform: translateY(-4px);
    }

.welcome h1 {
    font-size: 34px;
    color: #10a52f;
}

.welcome p {
    margin-top: 8px;
    font-size: 16px;
}

.top-actions {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* ========================= */
/* PUNTOS */
/* ========================= */

.points {
    background: #fff6d7;
    padding: 12px 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 22px;
    font-weight: 700;
    transition: .35s;
}

    .points:hover {
        transform: scale(1.08) rotate(-2deg);
    }

    .points img {
        width: 40px;
        height: 40px;
        object-fit: contain;
        background: transparent;
        mix-blend-mode: multiply;
    }

/* ========================= */
/* NOTIFICACION */
/* ========================= */

.notification {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid #cde2ff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 24px;
    animation: ring 2s infinite;
}

    .notification span {
        position: absolute;
        top: -5px;
        right: -5px;
        background: red;
        color: white;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
    }
@keyframes tigerFloat {

/* Texto */
.texto-banner {
    position: relative;
    z-index: 3;
    width: 50%;
}

.banner h1 {
    font-size: 42px;
    color: #104020;
    line-height: 1.2;
}

    100% {
        transform: translateY(0px);
    }
}

@keyframes ring {

    0% {
        transform: rotate(0);
    }

    10% {
        transform: rotate(10deg);
    }

    20% {
        transform: rotate(-10deg);
    }

    30% {
        transform: rotate(10deg);
    }

    40% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(0);
    }
}

/* ========================= */
/* PERFIL */
/* ========================= */

.profile {
    display: flex;
    align-items: center;
    gap: 12px;
}

    .profile img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        object-fit: cover;
        transition: .4s;
    }

        .profile img:hover {
            transform: scale(1.12);
        }

/* ========================= */
/* HERO */
/* ========================= */

.hero-section {
    display: grid;
    grid-template-columns: 1fr 320px;
    gap: 20px;
    animation: fadeUp 1s ease;
}
.hero-left {
    background: url('/ImageNinos/banner.png') no-repeat center center;
    /* MUESTRA TODA LA IMAGEN */
    background-size: cover;
    background-color: #bfefff;
    border-radius: 50px;
    height: 400px;
    padding: 30px;
    display: flex;
    align-items: center;
    overflow: hidden;
    animation: heroFloat 5s ease-in-out infinite;
    box-shadow: 0 10px 30px rgba(0,0,0,.08);
}
@keyframes heroFloat {

    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-8px);
    }

    100% {
        transform: translateY(0);
    }
}

.hero-text {
    max-width: 340px;
}

    .hero-text h2 {
        font-size: 24px;
        line-height: 1.1;
        color: #11552b;
    }

    .hero-text p {
        margin: 15px 0;
        font-size: 16px;
        max-width: 320px;
    }

    .hero-text button {
        background: linear-gradient(90deg,#2cb930,#47d534);
        border: none;
        color: white;
        padding: 15px 28px;
        border-radius: 50px;
        font-size: 18px;
        font-weight: 700;
        cursor: pointer;
        transition: .35s;
    }

        .hero-text button:hover {
            transform: scale(1.08);
            box-shadow: 0 10px 25px rgba(0,0,0,.18);
        }

/* ========================= */
/* PROGRESO */
/* ========================= */

.progress-card {
    background: rgba(255,255,255,0.88);
    backdrop-filter: blur(10px);
    border-radius: 30px;
    padding: 25px;
    box-shadow: 0 8px 20px rgba(0,0,0,.08);
    transition: .35s;
}

    .progress-card:hover {
        transform: translateY(-10px);
    }

    .progress-card h3 {
        background: #1ea334;
        color: white;
        padding: 12px;
        border-radius: 18px;
        text-align: center;
        font-size: 24px;
    }

.circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 25px auto;
    background: conic-gradient(#1db84a 0% 65%, #eee 65% 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    animation: rotateCircle 6s linear infinite;
}

    .circle::before {
        content: '';
        width: 145px;
        height: 145px;
        background: white;
        border-radius: 50%;
        position: absolute;
    }

    .circle span {
        position: relative;
        font-size: 38px;
        font-weight: 700;
        animation: reverseRotate 6s linear infinite;
    }

@keyframes rotateCircle {

    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes reverseRotate {

    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}

/* ========================= */
/* MATERIAS */
/* ========================= */

.subjects-section {
    background: rgba(255,255,255,0.88);
    backdrop-filter: blur(10px);
    border-radius: 30px;
    padding: 25px;
    box-shadow: 0 8px 20px rgba(0,0,0,.08);
    animation: fadeUp 1s ease;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.header-tareas h3 {
    color: white;
    margin: 0;
    font-size: 20px;
}

.header-tareas a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.subject-card {
    border-radius: 25px;
    padding: 20px;
    text-align: center;
    transition: .35s;
    cursor: pointer;
}

    .subject-card:hover {
        transform: translateY(-10px) scale(1.03);
        box-shadow: 0 15px 35px rgba(0,0,0,.12);
    }

.tarea:last-child {
    margin-bottom: 0;
}

    .subject-card:hover img {
        transform: rotate(-8deg) scale(1.15);
    }

    .subject-card h3 {
        font-size: 24px;
    }

.info h4 {
    margin: 0;
    font-size: 14px;
    color: #222;
}

.info p {
    margin: 3px 0 0;
    font-size: 12px;
    color: #777;
}

@keyframes barAnimation {

    from {
        width: 0;
    }
}

/* ========================= */
/* COLORES */
/* ========================= */

.math {
    background: #f3f7df;
}

    .math .bar div {
        background: #58b22f;
    }

.reading {
    background: #fff0d4;
}

    .reading .bar div {
        background: #ff9800;
    }

.science {
    background: #dff0ff;
}

    .science .bar div {
        background: #2196f3;
    }

.social {
    background: #efe2ff;
}

    .social .bar div {
        background: #8e44ad;
    }

.english {
    background: #ffe0ef;
}

    .english .bar div {
        background: #ff4081;
    }

.tech {
    background: #dffcff;
}

    .tech .bar div {
        background: #00acc1;
    }

/* ========================= */
/* ANIMACIONES */
/* ========================= */

@keyframes fadeUp {

    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* ========================= */
/* RESPONSIVE */
/* ========================= */

@media(max-width:1200px) {

    .hero-section {
        grid-template-columns: 1fr;
    }
}

@media(max-width:900px) {

    .dashboard-container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
    }

    .topbar {
        flex-direction: column;
        gap: 20px;
    }

    .hero-left {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }

    .hero-text h2 {
        font-size: 32px;
    }
}
