body {
    margin: 0;
    padding: 20px;
    font-family: Arial;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
}

th, td {
    padding: 15px 20px;
    text-align: left;
    border: 1px solid #ccc;
}

th {
    background: #cb997e;
    color: white;
    font-size: 18px;
}

tr:hover {
    background: #fdf6ec;
}



