body {
    background-image: url("/imagenes/fondo_registro.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.registro {
    background: White;
    border-radius: 25px;
    padding: 40px;
    width: 420px;
    margin: 50px auto;
    box-shadow: 0 0 25px Gold;
    text-align: center;
    color: Navy;
}

  
    .registro h2 {
        color: LimeGreen;
        font-size: 30px;
        text-shadow: 2px 2px 4px Gold;
        margin-bottom: 10px;
    }

    .registro p {
        color: Black;
        margin-bottom: 20px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

form input {
    width: 90%;
    padding: 12px;
    margin: 10px auto;
    border-radius: 10px;
    border: 2px solid Orange;
    font-size: 16px;
}

.btn-crear {
    background: linear-gradient(90deg, Orange, Gold, HotPink);
    color: black;
    font-weight: 700;
    border: none;
    border-radius: 15px;
    padding: 18px 28px;
    cursor: pointer;
    box-shadow: 0 0 15px Yellow;
    transition: transform 0.2s;
    margin-top: 15px;
}

    .btn-crear:hover {
        transform: scale(1.05);
    }
