body {
    background: linear-gradient(to right, #7B2FF7, #F79D00, #FFD200); /* Morado → Naranja → Amarillo */
    background-attachment: fixed;
    color: white;
    font-family: 'Poppins', sans-serif;
}
 

/* CONTENEDOR */
.contenedor-roles {
    position: relative;
    width: 100%;
    height: 100%;
}

/* IMÁGENES GENERALES */
.rol {
    position: absolute;
    height: auto;
    cursor: pointer;
    transition: 0.3s;
}

    .rol:hover {
        transform: scale(1.05);
    }

/* RECTOR */
.rector {
    top: 40px;
    left: 20px;
    width: 600px;
    animation: combo 2s infinite ease-in-out;
}

/* DOCENTE */
.docente {
    top: 80px;
    left: 400px;
    width: 470px;
    animation: combo 2s infinite ease-in-out;
}

/* ESTUDIANTE */
.estudiante {
    top:350px;
    left: 20px;
    width: 450px;
    animation: combo 2s infinite ease-in-out;
}

/* ACUDIENTE */
.acudiente {
    top:300px;
    left: 300px;
    width: 500px;
    animation: combo 2s infinite ease-in-out;
}



/* Animación única para todos */
@keyframes combo {
    0% {
        transform: translateY(0) scale(1);
    }

    50% {
        transform: translateY(-10px) scale(1.05);
    }

    100% {
        transform: translateY(0) scale(1);
    }
}

/* Título centrado y arriba */

.titulo {
    position: absolute;
    top: -50px;
    left: 80%;
    transform: translateX(-50%);
    width: 800px;
    z-index: 1000;
    animation: balanceo 2s infinite ease-in-out;
}


@keyframes balanceo {
    0% {
        transform: translateX(-50%) rotate(-5deg);
    }

    50% {
        transform: translateX(-50%) rotate(5deg);
    }

    100% {
        transform: translateX(-50%) rotate(-5deg);
    }
}


.nino {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 300px;
    top: 25%;
    height: 470px;
    animation: emocion 1s infinite;
}

@keyframes emocion {
    0%, 100% {
        content: url("/imagenes/niños1.png");
    }

    50% {
        content: url("/imagenes/niños2.png");
    }
}

.tigre {
    position: absolute;
    top: 5%;
    left: 85%;
    transform: translateX(-50%);
    width: 180px;
    animation: tigreAnimado 2s infinite;
}

@keyframes tigreAnimado {

    0%, 100% {
        content: url("/imagenes/tigre1.png");
    }

    40% {
        content: url("/imagenes/tigre2.png");
    }
}



/* BOTÓN VOLVER */
.btn-volver {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1000;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-size: 18px;
}
.docente {
}

.estudiante {
}

.acudiente {
}

.rector {
}
