* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI',sans-serif;
}

body {
    background: #f3f3f3;
    padding: 20px;
}

/* NAVBAR */

.navbar {
    width: 95%;
    margin: auto;
    background: white;
    border-radius: 30px;
    padding: 25px 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 5px 20px rgba(0,0,0,.08);
}

.logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

    .logo img {
        width: 70px;
    }

    .logo h1 {
        font-size: 55px;
        color: #13b54a;
        font-weight: 800;
    }

    .logo p {
        color: #666;
        font-size: 14px;
    }

.menu {
    display: flex;
    gap: 40px;
    align-items: center;
}

    .menu a {
        text-decoration: none;
        color: #111;
        font-size: 18px;
        font-weight: 600;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
    }

        .menu a i {
            font-size: 24px;
        }

/* LOGIN */

.login {
    display: flex;
    align-items: center;
    gap: 25px;
}

    .login select {
        padding: 8px 12px;
        border-radius: 6px;
    }

.registro {
    color: #1b5cff;
    text-decoration: none;
    font-weight: bold;
}

/* HERO */

.hero {
    width: 95%;
    margin: 40px auto;
}

    .hero h2 {
        font-size: 60px;
        line-height: 70px;
        font-weight: 800;
        margin-bottom: 15px;
    }

    .hero p {
        font-size: 28px;
        color: #333;
        margin-bottom: 20px;
    }

.boton-aventura {
    display: inline-block;
    text-decoration: none;
    background: #1fb03c;
    color: white;
    padding: 15px 35px;
    border-radius: 40px;
    font-size: 22px;
    font-weight: 700;
    transition: .3s;
}

    .boton-aventura:hover {
        background: #179432;
    }
